/* #parent {
    max-width: 80%;
    margin: 0 auto;
    border: 4px solid orangered;
} */

#one {
    border: 4px solid orangered;
}

#two {
    border: 4px solid orangered;
}

.row {
    width: 80%;
    margin: 0 auto;
}